/* Write your CSS here */
.main-container {
  background-color: #ffc2a0;
  min-height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  font-family: Roboto;
}
.todos-container {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.main-header {
  color: #ff8542;
  font-size: 30px;
}
