/* Write your CSS here */
.main-container {
  background-color: #ffc2a0;
  min-height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  font-family: Roboto;
}
.todos-container {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 900px;
}
.main-header {
  color: #ff8542;
  font-size: 30px;
}
.input-container {
  display: flex;
}
.input {
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  outline: none;
  border: 1px solid #ff8542;
  width: 500px;
}
.add-btn {
  background-color: #ff8542;
  color: #ffffff;
  padding: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  outline: none;
  border: none;
  width: 80px;
}
